/* src/components/ScheduleSection/ListSection.css */
.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.task-item {
  background-color: var(--base-dark);
  border: 2px solid var(--button-accent);
  border-radius: 6px;
  padding: 10px;
  color: var(--text);
  cursor: grab;
  transition: transform 0.2s ease, filter 0.2s ease;
  width: 75%;
  text-align: center;
}

.list-section button {
  background-color: var(--base-dark);
  color: var(--text);
  border: 1px solid var(--mid-tone);
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.list-section button:hover {
  background-color: var(--button-accent);
  color: var(--base-dark);
}

.task-item:hover {
  transform: scale(1.02);
  filter: brightness(1.2);
}

.task-item:active {
  cursor: grabbing;
}