/* src/components/TreeSection/TreeSection.css */
.tree-section {
  overflow-y: auto;
}

.tree-node {
  margin: 5px 0;
}

.tree-node-content {
  display: flex;
  align-items: center;
}

.tree-node-name {
  color: var(--text);
}

.tree-node-editing {
  display: flex;
  align-items: center;
}

.expand-icon {
  margin-right: 5px;
  cursor: default;
}

.tree-node-name span:nth-child(2),
.tree-node-editing input {
  cursor: text;
}

.tree-node-input {
  padding: 0;
  margin: 0;
  border: none;
  background-color: var(--base-dark);
  color: var(--text);
  font-size: inherit;
}

.tree-children {
  margin-left: 20px;
}

.context-menu {
  background-color: var(--base-dark);
  border: 1px solid var(--mid-tone);
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.context-menu button {
  display: block;
  width: 100%;
  background-color: var(--base-dark);
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  color: var(--text);
  cursor: pointer;
  text-align: left;
}

.context-menu button:hover {
  background-color: var(--button-accent);
}